/* Estilos específicos desta página se necessário */
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-top: 25px;
}

.checkbox-input {
  width: 18px;
  height: 18px;
  cursor: pointer;
}